{% extends 'base.html'%}

{% block title%} Django Blog List {% endblock %}
{% block content %}
    <div id="content">
        <h1>Blog List</h1>
        {% for post in posts %}
            <h2>
                <a href="{{post.get_absolute_url}}">{{post. }}}}</a>
            </h2>
            {{ post.modify_date|date:"N d, Y" }}
            <p>{{ post.description }}</p>
        {% endfor %}
        <br/>
            { p.title}}
        <div>
               <!-- Blog Post -->
            <div class="card mb-4" id="post-{{ p.pk }}">
                {% if p.head_image %}
                    <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                {% endif %}
                <div class="card-body">
                    {% if p.category %}
                        <span class="badge badge-secondary float-right">{{ p.category: truncatewords: 45 }}</span>
                    {% else %}
                        <span class="badge badge-secondary float-right">미분류</span>
                    {% endif %}

                    <h2 class="card-title">{{ p.title}}</h2>
                    {% if p.hook_text %}
                        <h5 class="text-muted">{{ p.hook_text }}</h5>
                    {% endif %}
                    <p class="card-text">{{ p.get_content_markdown | truncatewords_html:45 | safe }}</p>

            <span>
                {% if page_obj.has_previous %}
                    <a href ="?page={{page_obj.previous_page_number}}">PreviousPage</a>
                {% endif %}

                Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

                {% if page_obj.has_next %}
                    <a href ="?page={{page_obj.next_page_number}}">NextPage</a>
                {% endif %}
            { p.title}}
        {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
                {% endif %}
                { p.title}}
            </span>
        </div>
    </div>
{% endblock %}
Download:
<span class="badge badge-secondary float-right">{{ p.category: truncatewords: 45 }}</span>
                {% if post.get_file_ext == 'csv' %}truncatewords: 45 }}
                    <i class="fas fa-file-csv"></i>
                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fas fa-file-excel"></i>
                {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fas fa-file-word"></i>
                {% else %}
                    <i class="far fa-file"></i>
                {% endif %}
<!-- 기존 <!DOCTYPE html>
<html>{% if post_list.exists %}
    <head>
        <title>Blog List</title>
    </head>
    <body>
        <div id="content">
            <h1>Blog List</h1>
            {% for post in posts %}
               <h2>
                   <a href="{{post.get_absolute_url}}">{{post.title}}</a>
               </h2>
               {{ post.modify_date|date:"N d, Y" }}
               <p>{{ post.description }}</p>
            {% endfor %}
            <br/>

            <div>
                <span>
                    {% if page_obj.has_previous %}
                        <a href ="?page={{page_obj.previous_page_number}}">PreviousPage</a>
                    {% endif %}

                    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

                    {% if page_obj.has_next %}
                        <a href ="?page={{page_obj.next_page_number}}">NextPage</a>
                    {% endif %}

                </span>
            </div>
        </div>
    </body>
</html> -->