{% extends 'base.html'%}   <ul>
            {% for date in date_list %}
            <li style="list-style:none; display:inline-block">
                <a href="{% url 'blog:post_day_archive' date|date:'Y' month|date:'m' date|date:'d' %}">{{ date|date:'d' }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <ul>
            {% for post in object_list %}
                <li>{{post.modify_date|date:"Y-m-d"}}&nbsp;&nbsp;&nbsp;
                    <a href="{{post.get_absolute_url}}"><string>{{post.title}}</string></a>
                </li>
            {% endfor %}
        </ul>

{% block main_area %}

{% block title%} Post Archives for {{ year|date:'Y' }} {% endblock %}
{% block content %}
    <h1>Post Archives for {{ year|date:'Y' }}</h1>>
    <ul>
        {% for date in date_list %}
        <li style="display:inline;">
            <a href="{% url 'blog:post_month_archive' date|date:'Y' date|date:'m' %}">{{ date|date:"F" }}</a>
        </li>
        {% endfor %}
    </ul>
    <br/>
   <ul>
       <ul>
            {% for date in date_list %}
            <li style="list-style:none; display:inline-block">
                <a href="{% url 'blog:post_day_archive' date|date:'Y' month|date:'m' date|date:'d' %}">{{ date|date:'d' }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <ul>
            {% for post in object_list %}
                <li>{{post.modify_date|date:"Y-m-d"}}&nbsp;&nbsp;&nbsp;
                    <a href="{{post.get_absolute_url}}"><string>{{post.title}}</string></a>
                </li>
            {% endfor %}
        </ul>
            {% for date in date_list %}
            <li style="list-style:none; display:inline-block">
                <a href="{% url 'blog:post_day_archive' date|date:'Y' month|date:'m' date|date:'d' %}">{{ date|date:'d' }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <ul>
            {% for post in object_list %}
                <li>{{post.modify_date|date:"Y-m-d"}}&nbsp;&nbsp;&nbsp;
                    <a href="{{post.get_absolute_url}}"><string>{{post.title}}</string></a>
                </li>
            {% endfor %}
        </ul>
    <div>
        <ul>
            {% for post in object_list %}
                <li>{{post.modify_date|date:"Y-m-d"}}&nbsp;&nbsp;&nbsp;
                    <a href="{{post.get_absolute_url}}"><string>{{post.title}}</string></a>
                </li>
            {% endfor %}
        </ul>
       
       <input type="text" name="tags_str" id="id_tags_str" class="textinput textInput form-control">
    </div>
{% endblock %}